.title {
    margin-top: 32px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #313037;
    margin-bottom: 48px;
}

.photo {
    width: 992px;
    height: 518px;
    object-fit: cover;
    display: block;
    margin: 0 auto;

}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.text {
    margin-top: 48px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #313037;
}

.wrapper__icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.like {
    display: inline-block;
    width: 88px;
    height: 56px;
    background-color: #E8E8E8;
    position: relative
}

.icon {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}

.dislike {
    composes: like;
    margin-left: 8px;
}

.favorite {
    width: 237px;
    height: 56px;
    background-color: #E8E8E8;
    padding-left: 40px;
    padding-top: 15px;
}

.test__icon {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #313037;
    margin-left: 14px;
    height: 24px;
}

.img_icon {
    display: inline-block;

}

.block__footer {
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 72px;
}

.low__wrapper {
    display: flex;
    align-items: center;
}

.next {
    margin-right: 24px;
}

.low__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.low__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8E97;
}

.wrapper__prev {
    composes: low__title;
    text-align: end;
}

.prev {
    margin-left: 24px;
    transform: rotate(180deg);
}

.span_one {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    margin-right: 8px;
}

.span_two {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8E97;
    margin-left: 8px;
}